fastapi==0.115.0
uvicorn==0.30.6

pillow==10.4.0

python-multipart==0.0.9
pydantic==2.9.2
gunicorn==25.3.0
ultralytics>=8.0.0



#uf i will face any issue to deploy my backend in render then i will use this bellow version of requirements.txt

